body{
    margin: 0;
    padding: 0;
}

/* Main Header Styling*/
#main-header {
    background-color: #39A9DB;
    display: flex;
    flex-direction: row;
    padding: 1%;
}

.header-logo, .header-logo:active, .header-logo:hover, .header-logo:visited{
    color:#f0ebd8;
    text-decoration: none;
    padding: 1%;
    padding-left: 3%;
}

.header-link{
    color: #f0ebd8;
    text-decoration: none;
    justify-content: center;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 1%;
    border-radius: 5%;
    font-size: 20px;
  }

.header-link:visited {
    color: #f0ebd8;
    text-decoration: none;
}

.header-link:hover {
    background-color: #f0ebd8;
    color: #1c77c3;
    text-decoration: none;
}

.header-link:active  {
    background-color: #1c77c3;;
    color: #f0ebd8;
    text-decoration: none;
}

/* Hero Section Styling */
.hero-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 500px;
    background-color: #d1d2d4;
    background-image: url('/public/bathroom-counter-medium.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100%;
}

.hero-section h1 {
    color:#1c77c3;
}

.hero-section button {
    color:#f0ebd8;
    background-color: #39A9DB;
    border: none;
    border-radius: 5%;
    font-size: 20px;
    margin: 1%;
    padding: 2%;
}

/* Summary Section Styling */
.summary-section {
    padding: 5%;
    background-color: #39A9DB;
    color: #f0ebd8;
}

.summary-section p {
    font-size: 20px;
}

.summary-section a, a:visited, a:active, a:hover {
    color:#f0ebd8;
}