body{
    margin: 0;
    padding: 0;
}
#main-header {
    background-color: #39A9DB;
    display: flex;
    flex-direction: row;
}

.header-logo, .header-logo:active, .header-logo:hover, .header-logo:visited{
    color:#f0ebd8;
    text-decoration: none;
    padding: 1%;
    padding-left: 3%;
}

.header-link{
    color: #f0ebd8;
    text-decoration: none;
    justify-content: center;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 1%;
    border-radius: 5%;
  }

.header-link:visited {
    color: #f0ebd8;
    text-decoration: none;
}

.header-link:hover {
    background-color: #f0ebd8;
    color: #1c77c3;
    text-decoration: none;
}

.header-link:active  {
    background-color: #1c77c3;;
    color: #f0ebd8;
    text-decoration: none;
}

